<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>GentlemansBarberShop</string>
	<key>CFBundleIdentifier</key>
	<string>com.nsolucoes.gentlemansbarbershop</string>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>GentlemansV2</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5</string>
	<key>NSCameraUsageDescription</key>
	<string>Esta aplicação gostaria de aceder à camera para upload da foto de perfil. As suas fotos não serão partilhadas sem a sua permissão.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta aplicação gostaria de aceder à galeria para upload da foto de perfil. As suas fotos não serão partilhadas sem a sua permissão.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to microphone.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Esta aplicação gostaria de aceder à camera para upload da foto de perfil. As suas fotos não serão partilhadas sem a sua permissão.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Esta aplicação necessita de acesso ao calendário.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>gentlemansbarbershop.pt</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLTypes</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1006216751558-2jte72460msnmb3rvf04vr1opk3pfif4</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Google Services</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UIAppFonts</key>
	<array>
		<string>iconize-fontawesome.ttf</string>
	</array>
</dict>
</plist>
